*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* font-family: 'Vollkorn', serif; */

body{
    background: rgba(0,0,0,0.1);
    border-radius: 6px;
    font-family: 'Vollkorn', Georgia, cursive;
    overflow-x: hidden;
}
img{
    border-radius: 5px;
    display: block;
    width: 100%;
}
.estrutura{
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
    "header header header"
    "sidenav content anuncios"
    "footer footer footer"
    ;
}
@media (max-width: 1200px){
    .estrutura{
        grid-template-areas: 
        "header header header"
        "sidenav content content"
        "sidenav anuncios anuncios"
        "footer footer footer"
        ;
    }
}

@media (max-width: 760px){
    .estrutura{
        grid-template-columns: 100%;
        grid-template-areas: 
        "header header"
        "sidenav sidenav"
        "content content"
        "anuncios anuncios"
        "footer footer"
        ;
    }
}

/* HEADER */

.header{
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    grid-area: header;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.logo{
    max-width: 200px;
}
.header nav ul{
    display: flex;
    flex-wrap: wrap;
}
.header nav a {
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.125rem;
    padding: 10px;
    transition:0.1s
}
.header nav a:hover{
    background: rgba(0,0,0,0.5);
}
.header li + li{
    margin-left: 30px;
}
.sidenav{
    background: rgba(0,0,0,0.1);
    grid-area: sidenav;
    padding: 30px;
}
.sidenav li a{
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    display: block;
    margin: 0 auto 30px auto;
    max-width: 120px;
    padding: 20px;
    transition: .1s ease-out;
    min-width: 60px;
}
.sidenav li a:hover{
    background: #b07dfb;
}
@keyframes indicator{
    from{
        right: 50px;
    }
    to{
        right: 20px;
    }
}

@media (max-width: 760px){
    .sidenav{
        overflow: auto;
        padding: 0 30px;
        position: relative;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }
    .sidenav::after{
        animation: indicator .8s ease-in 0s infinite alternate;
        color: #b07dfb;
        content: '\261E';
        /* float: right;  */
        font-size: 3rem;
        position: absolute;
        right: 50px;
        top: -23px;
    }
    .sidenav ul {
        display: flex;
    }
    .sidenav ul li {
        flex: 1 0 200px;
    }
    .sidenav li a{
        margin: 30px 30px 30px 0px;
    }
}

/* CONTENT */
.content{
    display: grid;
    gap: 30px;
    grid-area: content;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

@media (max-width: 600px){
    .content{
        grid-template-columns: auto;
    }
}
.col-wide{
    grid-column: 1 / -1;
}
.lobo-1{
    align-self: end;
    grid-row: span 2;
}
.lobo-2{
    align-self: end;
}

/* ESTILOS CONTENT */
P{
    color: rgba(0,0,0,0.7);
    font-size: 1.2rem;
    letter-spacing: -0.05rem;
    line-height: 1.6;
}
.informacoes p + p{
    margin-top: 30px;
}
/* TITULO */
.titulo{
    color: #b07dfb;
}
.titulo h1{
    font-size: 4.75rem;
    line-height: 1;
    font-weight: 900;
}
.titulo span{
    font-size: 0.875rem;
    font-style: italic;
}

/* CARACTERISTICAS */
.caracteristicas{
    align-items: flex-start;
    display: flex;
}
.caracteristicas > div{
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    position: relative;
    text-align: center;
    width: 80px;
}
.caracteristicas > div:first-child{
    margin-right: 30px;
}

.caracteristicas span{
    color: #b07dfb;
    display: block;
}

.numero{
    font-size: 3rem;
    line-height: 1rem;
    margin: 10px auto;
}
.rotulo{
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    position: relative;
    top: 15px;
}
.destaque{
    color: #b07dfb;
    font-size: 0.875rem;
    max-width: 16rem;
}
.citacao, .atributos{
    align-self: start;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.15);
    padding: 30px;
}
.citacao p{
    color: #fff;
    font-size: 1.5rem;
    font-style: italic;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}
.atributos li{

    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    padding: 15px;
}
.atributos li + li{
    border-top: 2px solid #b07dfb;
}

@media (max-width: 760px){
    .header{
        grid-template-columns: auto;
    }
    .logo{
        margin-bottom: 20px;
    }
    .header nav a {
        font-size: 1rem;
    }
    .header li + li{
        margin-left: 10px;
    }
}

/* ANÚNCIOS */
.anuncios{
    align-content: start;
    align-items: center;
    background: rgba(0,0,0,0.1);
    display: grid;
    gap: 30px;
    grid-area: anuncios;
    padding: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
/* FOOTER */
.footer{
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    grid-area: footer;
}
.footer p{
    color: #fff;
    padding: 30px;
    text-align: center;
}

